* {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
} */

body {
  font-family: sans-serif;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 170px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: #468ecd;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.brand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.brand svg {
  height: 2.5rem;
  fill: #fff;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}

.nav-item a,
.brand a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-item.margin-top {
  margin-top: 30px;
}

nav .nav-item {
  /* outline: 2px solid red; */
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* margin-top: 36px; */
  gap: 16px;
  font-size: 1.5rem;
  padding-left: 10px;
}

nav svg {
  /* outline: 2px solid red; */
  max-width: 100%;
  height: 1.5rem;
  fill: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */
.header {
  /* grid-area: header; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header svg {
  height: 1.5rem;
  fill: #000;
}

header .search {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  gap: 15px;
  /* margin-left: 2rem; */
}

header input {
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  background-color: #e2e7ee;
  border: none;
}

.header-actions button {
  margin-left: 10px;
}

.header-top {
  /* outline: 2px solid red; */
  height: 50%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.header-top .profile-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 2rem; */
  gap: 25px;
}

.profile-icons-name {
  font-weight: 700;
}

.profile-picture {
  /* outline: 2px solid blue; */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  outline: 2px solid red;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: yellow;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greeting-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.greeting-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.greeting p {
  font-size: 1rem;
  font-weight: 700;
}

.greeting p.user-name-handle {
  font-size: 1.5rem;
  font-weight: 700;
}

.crus-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.crus-btns button {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  background-color: #468ecd;
  color: #fff;
  font-size: 20px;
  width: 120px;
}

/* Main content */
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #e2e7ee;
}

/* Project Cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
