* {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
} */

body {
  font-family: sans-serif;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 170px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: #468ecd;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.brand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.brand svg {
  height: 2.5rem;
  fill: #fff;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}

.nav-item a,
.brand a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-item.margin-top {
  margin-top: 30px;
}

nav .nav-item {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* margin-top: 36px; */
  gap: 16px;
  font-size: 1.5rem;
  padding-left: 10px;
}

nav svg {
  max-width: 100%;
  height: 1.5rem;
  fill: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */
.header {
  /* grid-area: header; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header svg {
  height: 1.5rem;
  fill: #000;
}

header .search {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  gap: 15px;
  /* margin-left: 2rem; */
}

header input {
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  background-color: #e2e7ee;
  border: none;
}

.header-actions button {
  margin-left: 10px;
}

.header-top {
  height: 50%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.header-top .profile-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 2rem; */
  gap: 25px;
}

.profile-icons-name a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.profile-picture {
  /* outline: 2px solid blue; */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  /* outline: 2px solid red; */
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgb(185, 185, 185);
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greeting-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.greeting-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.greeting p {
  font-size: 1rem;
  font-weight: 700;
}

.greeting p.user-name-handle {
  font-size: 1.5rem;
  font-weight: 700;
}

.crus-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.crus-btns button {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  background-color: #468ecd;
  color: #fff;
  font-size: 20px;
  width: 120px;
}

/* Main content */
.main-content {
  display: grid;
  grid-template-areas: "projects announcements" "projects trending";
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: #e2e7ee;
}

.projects {
  /* border: 2px solid red; */
  grid-area: projects;
  /* background-color: #fff; */
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
}

.projects-grid {
  /* border: 2px solid blue; */
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.section-title {
  font-size: 1.5rem;
  /* font-weight: 700; */
  /* margin-bottom: 20px; */
}

.project-card {
  background-color: #fff;
  padding: 30px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-left: 8px solid #e6b44b;
  height: 16vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  /* justify-content: space-between; */
}

.project-description {
  color: #676767;
}

.card-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.card-icons svg {
  height: 1.5rem;
  fill: #000;
}

/* Announcements Section */
.announcements {
  /* outline: 2px solid red; */
  grid-area: announcements;
  padding: 20px;
  border-radius: 8px;
  /* height: 70%; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Card Container */
.announcement-card {
  display: grid;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Individual Announcement Item */
.announcement-item {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.announcement-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.announcement-item h3 {
  font-size: 1rem;
  color: #333;
}

.announcement-item p {
  font-size: 0.8rem;
  color: #676767;
  /* margin: 0; */
}

/* Trending Section */
.trending {
  grid-area: trending;
  padding: 20px;
  /* background-color: #f5f7fa; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Trending Card */
.trending-card {
  display: grid;
  gap: 1.4rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Trending Item */
.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

/* .trending-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(185, 185, 185);
  object-fit: cover;
} */

.trending-info {
  display: grid;
  gap: 0.2rem;
}

.username {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}
